.wrapper{
    margin: 0px;
    padding: 0px;
}

.title{
    font-size: 20px;
}

.has_error{
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
}

.has_valid{
    height: 0px;
}

.register_input{
    width: 100%;
}