.panjang{
    margin: 0px !important;
    width: 100% !important;
    height: 100% !important;
}
.zero{
    padding: 0px;
}

.title{
    margin: 10px 14px 0px 14px;
    padding: 0px !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 10px;
    color: lightskyblue;
}

.sub{
    color: grey;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.tempat textarea{
    border: 0px !important;
}